{% load staticfiles %}
<html>
    <head>
        <!--<title>Home</title>-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body style="background-color: rgb(250, 250, 250)">
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu">Add Post</span></a>
                <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"; title='Draft'></span></a>
                <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu">Login</a>
                <a href="{% url 'signup' %}" class="top-menu">Signup</a>
            {% endif %}
            <h1 style="color: rgb(250, 250, 250);font-size: 180%; font-weight: bold;"><a href=""> Technology and Academic Blog </a></h1><h1 style="text-align: right; font-size: 150%; font-family: arial;"><a href=""><mark> Home </mark></a><a href="/"><mark> Blog </mark></a><a href=""><mark> About </mark></a><a href=""><mark> Contact us </mark></a></h1>
        </div>
        <div class="border">
            
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
