{% extends 'blog/base.html' %}


{% block content %}
    <title>Blog List</title>
        <h1 class="post-list" style="font-size: 150%"> Topic </h1>
        {% for post in posts %}
            <div class="post">
                <!--<div class="date">
                    {{ post.published_date }}
                </div>-->
                <h1 style="font-size: 100%"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <!--<p>{{ post.text|safe }}</p>-->
                <!--<a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>-->
            </div>
    {% endfor %}
{% endblock content %}
