
h1 a{
	color: #ffffff;
	font-family: courier;

}

/*
body {
	padding-left: 10px;
	padding-right: 10px;
}
*/

.page-header{
	background-color: #17202A;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	padding: 1px 1px 1px 2px;
	align-self: right;
	color: blue;
	position: fixed;
	z-index:10;
	width: 100%;
	
}
/*
.page-header h1,
.page-header h1 a, .page-header h1 a:visited, .page-header h1 a: active {
	color: #ffffff;
	font-size: 10pt;
	text-decoration: none;
}
*/

.content {
	margin-left: 160px;
}

.date {
	color: #828282;
}

.save{
	float: right;
}

.post-form textarea, .post-form input {
	width: 100%;

}


.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 8pt;
    margin-right: 30px;
}


.post {
    margin-bottom: 0px;
    margin-top: 10px;
}



.post h1 a, .post h1 a:visited {
    color: blue;
    font-size: 15;
}
/*
.comment {
    margin: 20px 0px 20px 20px;
}

.border{
	background-color: #010F0E;
}
*/

.Upper{
	text-align: right;
	margin-right: 30px;
}

.new-post{
	padding-top: 50;
	
}
.post-list{
	padding-top: 50;
}

.post-detail{
	padding-top: 80;
}

.add-comment{
	padding-top: 70;
}

.post-list-in-detail{
	padding-top: 50;
	color: blue;
	position: relative;
}

.logo{
	color: #FFFFFF;
	font-family: courier;
	font-size: 180%;
	font-weight: bold; 
	padding-left: 30px;
	padding-top: 30px;
}
.head{
	color: #D5F5E3;
	font-family: courier;
	font-size: 100%;
	padding-left: 820px;
	font-weight: bold;
}
.signup{
	padding-top: 100px;
5
.btn btn-default{
	padding-top: 100px;
}