
h1 a{
	color: #ffffff;
}

/*
body {
	padding-left: 10px;
	padding-right: 10px;
}
*/

.page-header{
	background-color: #010F0E;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	padding: 1px 1px 1px 2px;
	align-self: right;
	color: blue;
	position: fixed;
	z-index:10;
	width: 100%;
	
}
/*
.page-header h1,
.page-header h1 a, .page-header h1 a:visited, .page-header h1 a: active {
	color: #ffffff;
	font-size: 10pt;
	text-decoration: none;
}
*/

.content {
	margin-left: 180px;
}

/*
.date {
	color: #828282;
}

.save{
	float: right;
}
*/
.post-form textarea, .post-form input {
	width: 100%;

}


.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 8pt;
    margin-right: 30px;
}


.post {
    margin-bottom: 0px;
    margin-top: 10px;
}



.post h1 a, .post h1 a:visited {
    color: blue;
    font-size: 15;
}
/*
.comment {
    margin: 20px 0px 20px 20px;
}

.border{
	background-color: #010F0E;
}
*/

.Upper{
	text-align: right;
	margin-right: 30px;
}

.new-post{
	padding-top: 100;
	
}
.post-list{
	padding-top: 100;
}

.post-detail{
	padding-top: 130;
}